<% content_for :dashboard_bar do %>
 Profile
<% end %>


<div class="content-body default-height">
  <div class="container-fluid">

    <!-- row -->
    <div class="row">
      <div class="col-xl-12 col-xxl-12">
        <%= render layout: "layouts/card_wrapper", locals: { card_title: "All Users" } do %>
          <!-- Your page content here (form, etc.) -->

            <%= form_for @user, url: profile_path, html: { method: :put, multipart: true, class: "row g-3" } do |f| %>
              <div class="col-md-6 mb-3">
                <p class="form-control-plaintext"><strong>Email Address:</strong> <%= @user.email %></p>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <%= f.label :first_name, class: "form-label" %>
                    <%= f.text_field :first_name, class: "form-control" %>
                  </div>
                  <div class="col-md-6 mb-3">
                    <%= f.label :last_name, class: "form-label" %>
                    <%= f.text_field :last_name, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <%= f.label :display_name, "Display Name", class: "form-label" %>
                <%= f.text_field :display_name, class: "form-control", autocomplete: "username"%>
              </div>
              <div class="col-md-6 mb-3">
                <%= f.label :relationship_to_couple, "Relationship to Wedding Couple", class: "form-label" %>
                <%= f.select :relationship_to_couple,
                             [["Select Relationship...", nil],
                              "Bride", "Groom", "Family", "Wedding Party", "Guest", "Officiant", "Vendors", "Friend", "Other"],
                             {},
                             class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <%= f.label :password, "New Password", class: "form-label" %>
                    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
                  </div>
                  <div class="col-md-6 mb-3">
                    <%= f.label :password_confirmation, "Confirm New Password", class: "form-label" %>
                    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <div class="col-12 mb-3">
                  <%= f.submit "Save", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<!--**********************************
    Scripts
***********************************-->
<% use_plugin :global, :'bootstrap-select' %>



