<!-- app/views/group_admin_dashboard/index.html.erb -->



<% content_for :dashboard_bar do %>
  Group Admin Dashboard
<% end %>

<% content_for :card_title do %>
  <% if @selected_group_id.present? && (selected_group = @wedding_groups.find { |g| g.id.to_s == @selected_group_id.to_s }) %>
    <p class="mb-0">Managing Wedding Group: <strong><%= selected_group.name %></strong></p>
  <% end %>
  <%= form_with url: group_admin_dashboard_path, method: :get, local: true, html: { class: "ms-auto" } do %>
    <%= select_tag :wedding_group_id,
                   options_from_collection_for_select(@wedding_groups, :id, :name, @selected_group_id),
                   prompt: "Choose a group",
                   class: "form-select",
                   onchange: "this.form.submit();" %>
  <% end %>
<% end %>

<div class="content-body default-height">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-xl-12 col-xxl-12">
        <%= render layout: "layouts/card_wrapper" do %>

          <!-- Your page content here (form, etc.) -->
          <p>Welcome, <%= current_user.display_name.presence || current_user.first_name %>!</p>

          <% if @selected_group_id.present? && (selected_group = @wedding_groups.find { |g| g.id.to_s == @selected_group_id.to_s }) %>


               You have (<%= @selected_group.memberships.joins(:user).where(users: { role: "member" }, status: "pending").count %>) user(s) pending admission to the group
              <div class="mb-3">
                <%= link_to "Manage Group Members", group_admin_memberships_path(wedding_group_id: selected_group.id), class: "btn btn-primary me-2" %>
              </div>
            <% end %>



        <% end %>
      </div>
    </div>
  </div>
</div>

