
<h1>Your Entries (<%= @month_plan&.title || "No current plan" %>)</h1>
<%= link_to "Log a workout", new_workout_entry_path(month_plan_id: @month_plan&.id) %>
<table>
  <thead>
  <tr><th>Date</th><th>Exercise</th><th>Sets</th><th>Reps</th><th>Weight</th><th>Duration</th><th>Distance</th><th>Notes</th><th></th></tr>
  </thead>
  <tbody>
  <% @entries.each do |e| %>
    <tr>
      <td><%= e.performed_on %></td>
      <td><%= e.exercise.name %></td>
      <td><%= e.sets %></td>
      <td><%= e.reps %></td>
      <td><%= e.weight %></td>
      <td><%= e.duration_minutes %></td>
      <td><%= e.distance_km %></td>
      <td><%= e.notes %></td>
      <td>
        <%= link_to "Edit", edit_workout_entry_path(e) %> |
        <%= link_to "Delete", workout_entry_path(e), data: { turbo_method: :delete, turbo_confirm: "Delete?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
