
<h1>Exercises</h1>
<%= link_to "New Exercise", new_admin_exercise_path %>
<table>
  <thead><tr><th>Name</th><th>Category</th><th>Unit</th><th></th></tr></thead>
  <tbody>
  <% @exercises.each do |ex| %>
    <tr>
      <td><%= ex.name %></td>
      <td><%= ex.category %></td>
      <td><%= ex.unit %></td>
      <td>
        <%= link_to "Edit", edit_admin_exercise_path(ex) %> |
        <%= link_to "Delete", admin_exercise_path(ex), data: { turbo_method: :delete, turbo_confirm: "Delete?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
