
<h1>Month Plans</h1>
<%= link_to "New Month Plan", new_admin_month_plan_path %>
<ul>
  <% @month_plans.each do |mp| %>
    <li>
      <%= link_to mp.title, admin_month_plan_path(mp) %>
      (<%= mp.start_date %> → <%= mp.end_date %>)
      <%= link_to "Edit", edit_admin_month_plan_path(mp) %>
    </li>
  <% end %>
</ul>
