<% content_for :dashboard_bar do %>
  Admin Dashboard
<% end %>

<% content_for :card_title do %>
  Manage Members to (<%= @wedding_group.name %>)
<% end %>
<div class="content-body default-height">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-xl-12 col-xxl-12">
        <%= render layout: "layouts/card_wrapper" do %>
          <!-- Your page content here (form, etc.) -->
          <table class="table">
            <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Display Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <% membership = @wedding_group.memberships.find { |m| m.user_id == user.id } %>
              <tr class="<%= 'table-success' if membership %>">
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.display_name %></td>
                <td><%= user.email %></td>
                <td><%= user.role || '-' %></td>
                <td><%= membership&.status || '-' %></td>
                <td>
                  <% if membership %>
                    <%= button_to 'Remove', remove_member_admin_wedding_group_path(@wedding_group, user_id: user.id), method: :post, class: 'btn btn-danger btn-sm' %>
                  <% else %>
                    <%= button_to 'Add', set_member_admin_wedding_group_path(@wedding_group, user_id: user.id), method: :post, class: 'btn btn-success btn-sm' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
            <div class="d-flex gap-2 mt-3 mb-3">
              <%= link_to "Cancel", admin_wedding_groups_path, class: "btn btn-secondary ml-2" %>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>
