<% content_for :dashboard_bar do %>
  Admin Dashboard
<% end %>

<% content_for :card_title do %>
  Create a new Wedding Group
<% end %>
<div class="content-body default-height">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-xl-12 col-xxl-12">
        <%= render layout: "layouts/card_wrapper" do %>

          <% if @wedding_group && @wedding_group.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% @wedding_group.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <%= form_with(model: [:admin, @wedding_group], local: true) do |form| %>
            <div class="form-group">
              <%= form.label :name, "Wedding Group Name" %>
              <%= form.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label :wedding_date, "Date of Wedding" %>
              <%= form.date_field :wedding_date, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label :location, "Location of Wedding" %>
              <%= form.text_field :location, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= link_to "Cancel", admin_wedding_groups_path, class: "btn btn-secondary ml-2" %>
              <%= form.submit "Create Wedding Group", class: "btn btn-success" %>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>