
<% content_for :dashboard_bar do %>
  Group Admin Dashboard
<% end %>

<% content_for :card_title do %>
  Manage Members for <%= @wedding_group.name %>
<% end %>
<div class="content-body default-height">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-xl-12 col-xxl-12">
        <%= render layout: "layouts/card_wrapper" do %>

          <table class="table">
            <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Display Name</th>
              <th>Status</th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @memberships.each do |membership| %>
              <tr class="<%= 'table-warning' if membership.status == 'pending' %>">
                <td><%= membership.user.first_name %></td>
                <td><%= membership.user.last_name %></td>
                <td><%= membership.user.display_name %></td>
                <td><%= membership.status %></td>
                <td><%= membership.user.role %></td>
                <td>
                  <% if membership.status == "pending" %>
                    <%= button_to "Join Group", join_group_admin_membership_path(membership), method: :post, class: "btn btn-primary btn-sm ms-2" %>
                  <% else %>
                    <div class="d-inline-flex gap-2">
                      <% unless membership.user_id == current_user.id %>
                        <%= button_to "Unjoin Group", unjoin_group_admin_membership_path(membership), method: :post, class: "btn btn-warning btn-sm ms-2" %>
                        <% if membership.user.role == "member" %>
                          <%= button_to "Promote to Group Admin", update_role_group_admin_membership_path(membership, role: "group_admin"), method: :patch, class: "btn btn-success btn-sm ms-2" %>
                        <% elsif membership.user.role == "group_admin" %>
                          <%= button_to "Demote to Member", update_role_group_admin_membership_path(membership, role: "member"), method: :patch, class: "btn btn-secondary btn-sm ms-2" %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>

          </table>
          <div class="d-flex gap-2 mt-3 mb-3">
            <%= link_to "Cancel", group_admin_dashboard_path, class: "btn btn-secondary mb-3" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


