<% content_for :dashboard_bar do %>
  Admin Dashboard
<% end %>

<% content_for :card_title do %>
  Add New User
<% end %>

<div class="content-body default-height">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-xl-12 col-xxl-12">

        <%= render layout: "layouts/card_wrapper", locals: { card_title: "Add New User" } do %>

          <% if @user && @user.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form_with(model: [:admin, @user], local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :first_name %>
              <%= form.text_field :first_name, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :last_name %>
              <%= form.text_field :last_name, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :display_name %>
              <%= form.text_field :display_name, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :email %>
              <%= form.email_field :email, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :relationship_to_couple, "Relationship to Wedding Couple", class: "form-label" %>
              <%= form.select :relationship_to_couple,
                              [["Select Relationship...", nil],
                               "Bride", "Groom", "Family", "Wedding Party", "Guest", "Officiant", "Vendors", "Friend", "Other"],
                              {},
                              class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :password, "New Password" %>
              <%= form.password_field :password, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :password_confirmation, "Confirm Password" %>
              <%= form.password_field :password_confirmation, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :role %>
              <%= form.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, class: "form-control" %>
            </div>
            <div class="d-flex gap-2 mt-3 mb-3">

              <%= link_to "Cancel", admin_users_path, class: "btn btn-secondary" %>
              <%= form.submit "Create User", class: "btn btn-success" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
