<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shredding for the Wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %><%= csp_meta_tag %>

    <!-- Core Plugins -->
    <%= javascript_include_tag "plugins/jquery/jquery.min" %>
    <%= stylesheet_link_tag "plugins/bootstrap/bootstrap.min" %>
    <%= stylesheet_link_tag "plugins/flaticon/flaticon" %>
    <%= stylesheet_link_tag "plugins/themify-icons/css/themify-icons" %>
    <%= stylesheet_link_tag "plugins/fontawesome/css/all.min" %>
    <%= stylesheet_link_tag "plugins/material-design-iconic-font/css/materialdesignicons.min" %>
    <%= stylesheet_link_tag "plugins/line-awesome/css/line-awesome.min" %>
    <%= stylesheet_link_tag "plugins/animate/animate.min" %>
    <%= stylesheet_link_tag "plugins/metismenu/metisMenu.min" %>

    <!-- Core CSS -->
    <%= stylesheet_link_tag "style" %>
    <%= favicon_link_tag 'favicon.png' %>


    <%= yield :page_styles %>

    <!-- Importmap (Turbo/Stimulus) -->
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-100">
  <% unless controller_name == "sessions" && action_name == "new" %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        Shredding for the Wedding
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav ms-auto">
            <% if defined?(root_path) %>
              <li class="nav-item"><%= link_to "Dashboard", root_path, class: "nav-link" %></li>
            <% end %>
            <% if defined?(leaderboard_path) %>
              <li class="nav-item"><%= link_to "Leaderboard", leaderboard_path, class: "nav-link" %></li>
            <% end %>
            <% if respond_to?(:user_signed_in?) && user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Sign out",
                            destroy_user_session_path,
                            data: { "turbo-method": :delete },
                            class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign in",
                            (defined?(new_user_session_path) ? new_user_session_path : "#"),
                            class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>



      <%= yield %>



  <!-- Plugin JS -->
  <%= javascript_include_tag "plugins/bootstrap/bootstrap.bundle.min" %>
  <%= javascript_include_tag "plugins/bootstrap-select/bootstrap-select.min" %>
  <%= javascript_include_tag "plugins/metismenu/metisMenu.min" %>
  <%= javascript_include_tag "plugins/fontawesome/js/all.min" %>
  <%= javascript_include_tag "plugins/owl-carousel/owl.carousel" %>

  <!-- Core JS -->
  <%= javascript_include_tag "settings" %>
  <%= javascript_include_tag "deznav-init" %>
  <%= javascript_include_tag "custom.min" %>


  <%= yield :page_scripts %>
  </body>
</html>
